.landing-page {
    margin-top: 70px;
}

.landing--top {
    display: flex;
    justify-content: space-between;
}

.landing--top .text {
    width: 530px;

    & h1 {   
        margin-bottom: 35px;
        font-size: 60px;
        font-weight: 500;
    }

    & p {
        margin-bottom: 35px;
    }
} 

// Adaptation


@media (max-width: $phone) {
    .landing-page {
        margin-top: 25px;
    }

    .landing--top {
        display: block;
    }

    .landing--btn {
        width: 100%;
    }

    .landing--top .text {
        width: 100%;
        position: relative;

        & h1 {
            font-size: 43px;
            width: 100%;
        }

        & p {
            font-size: 16px;
            font-weight: 300;

            padding-top: 380px;
        }
    }

    .landing--top img {
        width: 80% ;
        position: absolute ;
        top: 400px ;
    }
}