// Fonts

$font-main: "Space Grotesk", sans-serif;


// Colors

$dark: #000000;
$dark-alt: #191A23;
$email: #292A32;
$element-hover: #4f5060;
$green: #B9FF66;
$light-alt: #F3F3F3;
$light: #ffffff;


// media 

$desktop: 1280px;
$phone: 767px;
